@white:                      #fff;
@hover-upload-border:        #ebebeb;
@upload-border:              #afafaf;
@hover-background:           #979797;
@box-shadow:                 #515151;
@black:                      #000;
@error-background:           #f00;
@blue:                       #927DFC;
@outline-btn:                #524893;

@font-face {
	font-display: swap;
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	src: url("@{fontpath}/NunitoSans-Regular.woff2") format("woff2"),
		url("@{fontpath}/NunitoSans-Regular.woff") format("woff"),
		url("@{fontpath}/NunitoSans-Regular.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	width: 100%;
	flex-direction: column;
}

footer,
.pagetitle {
	flex: 0 0 auto;
	box-shadow: 0 0 3px 0px @box-shadow;
	user-select: none;
}

.pagetitle {
	pointer-events: none;
	margin-bottom: 1.6rem;
}

footer {
	margin-top: 1.6rem;
}

footer p {
	margin-top: .5em;
	margin-bottom: .5em;
	padding: 0px 1em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: right;
}

.body-wapper {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wrapper {
	max-width: 655px;
	width: 97%;
	min-height: 415px;
	padding: 30px;
	background-color: @white;
	border-radius: 9px;
	transition: height 0.2s ease;
	box-shadow: 0 0 6px @box-shadow;
	transition: unset;
	display: flex;
	flex-direction: column;
	.upload-box,
	.content {
		border-radius: 5px;
		border: 2px dashed #afafaf;
		flex: 1 0 auto;
	}
	.upload-box {
		//height: 225px;
		display: flex;
		cursor: pointer;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		user-select: none;
		p {
			position: relative;
			font-size: 1.06rem;
			margin-top: 20px;
			pointer-events: none;
			&::after {
				content: "";
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
				white-space: nowrap;
				pointer-events: none;
			}
		}
	}
	.content {
		display: none;
		pointer-events: none;
		padding: 1rem;
		.row {
			display: flex;
			justify-content: space-between;
			margin: 0;
			.column {
				width: calc(100% / 2 - 15px);
			}
		}
	}
	.meta {
		.column {
			margin-bottom: 10px;
			position: relative;
			&:last-child {
				margin-bottom: 0px;
			}
			label {
				font-size: 1.06rem;
				background-color: transparent;
				font-weight: 700;
				color: @black;
				user-select: none;
				position: absolute;
				pointer-events: none;
				z-index: 10;
				top: 1rem;
				left: 1rem;
				line-height: 1;
				white-space: nowrap;
				margin: unset;
				margin-bottom: unset;
				transition: top .3s ease, font-size .3s ease;
			}
			input {
				height: 49px;
				&::placeholder {
					color: transparent !important;
					user-select: none !important;
				}
				&:hover,
				&:focus,
				&:not(:placeholder-shown) {
					~ label {
						font-size: 0.86rem;
						top: 0.4rem;
						background-color: transparent;
					}
				}
			}
			textarea {
				min-height: 80px;
				resize: vertical;
			}
			input,
			textarea {
				display: block;
				appearance: none;
				width: 100%;
				outline: none;
				padding: 1rem 1rem 0em;
				font-size: 1.06rem;
				border-radius: 4px;
				border: 2px solid @upload-border;
				&:focus {
					border: 2px solid @blue;
				}
			}
		}
	}
	&.active {
		height: auto;
		max-width: 90%;
		transition: max-width 1s ease;
		.upload-box {
			display: none;
		}
		.content {
			display: block;
			pointer-events: auto;
			transition: opacity 0.5s 0.05s ease;
		}
	}
	&.hover {
		background-color: @hover-background;
		.upload-box {
			border: 2px dashed @hover-upload-border;
			* {
				pointer-events: none;
			}
			p {
				color: @white;
			}
		}
		&.error {
			background-color: @error-background;
			.upload-box {
				border: 2px dashed @white;
				p {
					color: @white;
					&::after {
						content: attr(data-after-error);
					}
				}
			}
		}
	}
	.buttons {
		.column {
			color: @white;
			outline: none;
			border: none;
			cursor: pointer;
			font-size: 1.06rem;
			border-radius: 5px;
			padding: 15px 10px;
			margin: 30px 0 10px;
			user-select: none;
			&:focus,
			&:focus-visible {
				outline: @outline-btn solid 3px;
			}
		}
		.download-btn {
			background-color: @blue;
			color: @white;
			box-shadow: inset 0 0 1px 2px @blue;
		}
		.cancel-btn {
			background-color: @white;
			color: @blue;
			box-shadow: inset 0 0 1px 2px @blue;
		}
	}
	button {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
