@import "variables";
@import "montserrat";

@font-face {
	font-display: swap;
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	src: url("@{fontpath}/NunitoSans-Regular.woff2") format("woff2"),
		url("@{fontpath}/NunitoSans-Regular.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	min-height: 100vh;
	width: 100%;
	flex-direction: column;
	font-family: 'Nunito Sans', sans-serif;
}

footer,
.pagetitle {
	flex: 0 0 auto;
	box-shadow: 0 0 3px 0px @box-shadow;
	user-select: none;
}

.pagetitle {
	pointer-events: none;
	margin-bottom: 1.6rem;
	font-weight: 700;
}

footer {
	margin-top: 1.6rem;
}

footer p {
	margin-top: .5em;
	margin-bottom: .5em;
	padding: 0px 1em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: right;
}

.body-wapper {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@import "wrapper";
