@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("@{fontpath}/Montserrat-Italic.woff2") format("woff2"),
		url("@{fontpath}/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("@{fontpath}/Montserrat-BoldItalic.woff2") format("woff2"),
		url("@{fontpath}/Montserrat-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("@{fontpath}/Montserrat-Regular.woff2") format("woff2"),
		url("@{fontpath}/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("@{fontpath}/Montserrat-Bold.woff2") format("woff2"),
		url("@{fontpath}/Montserrat-Bold.ttf") format("truetype");
}
