@white:                      #fff;
@hover-upload-border:        #ebebeb;
@upload-border:              #afafaf;
@hover-background:           #979797;
@box-shadow:                 #515151;
@black:                      #000;
@error-background:           #f00;
@blue:                       #927DFC;
@outline-btn:                #524893;

:root {
	--white:                      @white;
	--hover-upload-border:        @hover-upload-border;
	--upload-border:              @upload-border;
	--hover-background:           @hover-background;
	--box-shadow:                 @box-shadow;
	--black:                      @black;
	--error-background:           @error-background;
	--blue:                       @blue;
	--outline-btn:                @outline-btn;
}
